/* Remove browser default spacing */

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Prevent scrolling */

body {
  overflow: hidden;
  font-family: Inter, system-ui, sans-serif;
}

/* Make the React app fill screen */

#root {
  display: flex;
}